@font-face {
    font-family: "Roboto";
    src: url(./resources/fonts/Roboto-VariableFont_wdth\,wght.ttf);
    font-weight: 100 900;
    font-stretch: 75% 125%;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url(./resources/fonts/Roboto-Italic-VariableFont_wdth\,wght.ttf);
    font-weight: 100 900;
    font-stretch: 75% 125%;
    font-style: italic;
}

body,
html {
    height: 100vh;
    margin: 0;
    font-family: "Roboto", sans-serif;
    overflow-y: auto;
}

.container {
    text-align: center;
    min-height: max(900px, 100vh);
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 350px 4fr;
    grid-template-rows: 250px 5fr;
}

.header {
    background-color: white;
    display: grid;
    grid-template-columns: 2fr minmax(300px, 1fr);
    grid-template-rows: 1fr 1fr;
    margin: 8px 32px;
    gap: 0px 24px;
}

.header-search {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    gap: 16px;
}

.header-icon {
    color: black;
    height: 40px;
    width: 40px;
}

.header-icon:hover {
    cursor: pointer;
}

.search-bar {
    flex: 1;
    border: 1px solid whitesmoke;
    background-color: whitesmoke;
    border-radius: 16px;
    height: 32px;
    max-width: 900px;
    text-align: center;
    font-family: "Roboto", sans-serif;
}

.search-bar:focus {
    border: 2px solid lightgray;
    outline: none;
}


.header-info {
    justify-self: end;
    display: flex;
    align-items: center;
    gap: 32px;
    min-width: auto;
}

.user-profile {
    display: flex;
    align-items: center;
    gap: 32px;
    text-decoration: none;
    color: black;
}

.profile-picture {
    height: 60px;
    border-radius: 30px;
}

.user-profile .username {
    font-size: clamp(16px, calc(16px + (28 - 16) * ((100vw - 360px) / 1560)), 28px);
    font-weight: bold;
}

.header-user-greeting {
    display: flex;
    gap: 32px;
    align-items: center;
    font-weight: bold;
}

.header-user-greeting .profile-picture {
    height: 80px;
    border-radius: 40px;
}

.user-greeting-container {
    text-align: start;
}

.user-info {
    font-size: clamp(16px, calc(16px + (28 - 16) * ((100vw - 360px) / 1560)), 28px);;
}

.header-actions {
    background-color: lightseagreen;
}




.sidebar {
    background-color: #209deb;
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 100px 450px 100px auto;
    gap: 50px;
    padding-top: 16px;
}

.branding {
    grid-row: 1 / 2;
    display: flex;
    gap: 20px;
    padding-left: 16px;
    padding-right: 16px;
}

.logo {
    max-width: 100%;
    max-height: 100%;
    color: white;
}

.title {
    align-self: center;
    color: white;
    font-size: 45px;
    font-weight: bold;
}

.page-nav {
    display: grid;
    grid-template-rows: repeat(6, 75px);
}

.account-nav {
    display: grid;
    grid-template-rows: repeat(3, 75px);
}

.nav-icon {
    color: white;
    height: 40px;
    width: 40px;
}

.nav-link {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    height: 100%;
    width: 100%;
    gap: 20px;
    padding-left: 35px;
}

.nav-row:hover {
    background-color: #1078b2; /* Darker blue shade for depth */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Softer, subtle shadow */
    border-radius: 5px; /* Softens edges */
}

.content {
    background-color: #7E1DC3;
}
