body,
html {
  height: 100%;
  margin: 0;
}

.container {
    text-align: center;
    height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

.header {
    background-color: #006157;
}

.sidebar {
    background-color: #005B94;
    grid-row: 1 / 3;
}

.content {
    background-color: #7E1DC3;
}